<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add CPU</title>
</head>
<body>
    <div class="urlap-container">
        <form enctype="multipart/form-data" id="urlap">
            <label for="tpye">Type: </label>
            <input type="text" id="type" name="type" /><br />
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" /><br />
            <label for="cores">Cores: </label>
            <input type="number" id="price" name="price" /><br />
            <label for="threads">Threads: </label>
            <input type="number" id="threads" name="threads" /><br />
            <label for="price">Price: </label>
            <input type="number" id="price" name="price" /><br />
            <label for="image">Kép: </label>
            <input type="file" id="image" name="image" /><br />
            <button onclick="feltolt(event)">Elküld</button>
        </form>
    </div>
</body>
</html>