* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
  
body {
    background-color: #e0e0e0;
}

nav {
    background-image: linear-gradient(#e0e0e0,#e0e0e0);
  }


.urlap-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
    width: 45%;
}


@media only screen and (max-width: 600px) {
     .urlap-container {
        border-radius: 10px;
        min-width: 80%;
     }
}