@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #e0e0e0;
  font-family: 'Comfortaa', cursive;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 100px;
}

#cpu {
  margin: auto;
}

img {
  height: 500px;
  transition: all .2s ease-in-out;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  box-shadow:  28px 28px 56px #bebebe,
           -28px -28px 56px #ffffff;
}

img:hover {
  transform: scale(1.1);
}

nav {
  background-image: linear-gradient(#e0e0e0,#e0e0e0);
}

.container.fluid {
  background-color: #e0e0e0;
} 

@media only screen and (max-width: 1200px) {
  .container {
    margin-top: 130px;
  }
  
  img {
     height: 300px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 65px;
  }

  img {
     height: 300px;
     margin-bottom: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
  }

  img {
     height: 200px;
     margin-bottom: 80px;
  }
}

